@import url('http://fonts.googleapis.com/css?family=Raleway');
* { margin: 0; padding: 0; border: 0; }

h1 {
	font-family: 'Raleway';
	font-size: 3em;
	margin: 5px;
}
h2{
	font-family: 'Raleway';
	font-size: 2em;
	margin: 5px;
}
h3{
	font-family: 'Raleway';
	margin: 5px;	
	}
p {
	font-family: 'Raleway';
	font-size: 1.6em;
	margin: 5px;	
}
a {
	font-family: 'Raleway';
	text-decoration: none;
	margin: 5px;	
}
ul{
	list-style: none;
}

.hero{
	background:url("https://free4kwallpapers.com/wallpaper/science/low-poly-ice/0RGX/2880/1800/download") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 50vh;
	border: 0px;
	margin: 0px;
	padding: 0px;

}
.wrapper{
	float: right;
	line-height: 3.5em;
	color: #01263B;
	text-align: center;
	padding: 4em;
	height: 37.7vh;
}
.text{
	z-index: 1000;
	opacity: 1;
}
.text-center{
	text-align: center;
	margin: 1em 0;
	clear: both;
}

.button{
	display: inline-block;
	color: #0F497B;
	height: 20px;
	padding: 18px 60px;
	border: 2px solid #0F497B;
	text-transform: uppercase;
	border-radius: 60px;
	clear: both;
	text-align: center;
	line-height: 2em;
}	
.button:hover{
	background-color: #0F497B;
	color: white;
}
.white{
	color: white;
	border-color: white;
}
.white:hover{
	background-color: white;
	color: #0F497B;
}
.text-center{
	text-align: center;
	margin-bottom: 2em;
}
.background-white{
	background-color: white;
}
.section{
	padding: 80px 20px;
}
.description1{
	margin-bottom: 50px;
}
.description{
	margin-bottom: 50px;
	margin-top: -2em;
}
.feature img{
	max-width: 15em;
	display: inline;
	margin-left: 7em;
}
.feature h1{
	display: block;
	text-align: center;

}
.feature p{
	max-width: 15em;
	text-align: center;
	margin-left: 2em;
}
.feature{
	display: inline-block;
	padding: 0 5em;
}
.button-feature{
	display: inline-block;
	color: #0F497B;
	height: 20px;
	padding: 18px 60px;
	border: 2px solid #0F497B;
	text-transform: uppercase;
	border-radius: 60px;
	clear: both;
	margin-left: 50em;
	margin-top: 2em;
}	
.button-feature:hover{
	background-color: #0F497B;
	color: white;
}
.button-mobile{
	display: inline-block;
	color: #0F497B;
	height: 20px;
	padding: 18px 60px;
	border: 2px solid #0F497B;
	text-transform: uppercase;
	border-radius: 60px;
	clear: both;
	margin-left: 50em;
	margin-top: 2em;
	visibility: hidden;
}	
.button-mobile:hover{
	background-color: #0F497B;
	color: white;
}
.artwork{
	background:url("https://free4kwallpapers.com/wallpaper/science/low-poly-ice/0RGX/2880/1800/download") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 75vh;
}
.artwork-text{
	text-align: center;
	color: #01263B;
}
.Red-Bubble{
	margin-left: 27em;
	vertical-align: middle;
}
.Red-Bubble2{
	visibility: hidden;
}
.contact{
	position: relative;
	font-size: 0.8em;
	padding: 3em;
	background-color: #383738;
	color: white;
}

.items{
	margin-top: -1em;
	margin-left: 36em;
}
.image1 img{
	width: 60px;
	height: auto;
}
.image1{
	display: inline-block;
	padding: 0 2em;
	margin-left: -8em;
}

.image1:hover{
	opacity: 0.55;
}
.image2 img{
	width: 60px;
	height: auto;
}
.image2{
	display: inline-block;
	padding: 0 2em;
}
.image2:hover{
	opacity: 0.55;
}
.image3 img{
	width: 60px;
	height: auto;
}
.image3{
	display: inline-block;
	padding: 0 2em;
}
.image3:hover{
	opacity: 0.55;
}
.image4 img{
	width: 60px;
	height: auto;
}
.image4{
	display: inline-block;
	padding: 0 2em;
}
.image4:hover{
	opacity: 0.55;
}
.image5 img{
	width: 60px;
	height: auto;
}
.image5{
	display: inline-block;
	padding: 0 2em;
}
.image5:hover{
	opacity: 0.55;
}

@media screen and (max-width: 1680px) {
.feature{
	display: inline-block;
	padding: 0 2em;
}
.button-feature{
	margin-left: 41em;
}
.Red-Bubble{
	margin-left: 20em;
	vertical-align: middle;
}
}

@media screen and (max-width: 1580px) {
.hero{
	height: 60vh;
	}
.feature{
	display: inline-block;
	padding: 0 1em;
}
.button-feature{
		margin-left: 38em;
}
.Red-Bubble{
	margin-left: 10em;
	vertical-align: middle;
}
.image1{
	padding: 0 3em;
	margin-left: 5em;
}
.image2{
	padding: 0 3em;
}
.image3{
	padding: 0 3em;
}
.image4{
	padding: 0 3em;
}

}
@media screen and (max-width: 1480px) {
.feature{
	display: inline-block;
	padding: 0 5em;
}

.button {
	visibility: hidden;
}
.button-mobile{
	margin-left: 40em;
	margin-top: -15em;
	height: 60px;
	padding-top: 60px;
	padding-right: 60px;
	padding-left: 30px;
	visibility: visible;
}	
.button-mobile:hover{
	background-color: #0F497B;
	color: white;
}
.button-feature{
	margin-left: 41em;
	margin-top: -26em;
	height: 60px;
	padding-top: 60px;
	padding-right: 60px;
	padding-left: 30px;
}
.image1{
	margin-right:2em;
}
.image2{
	margin-left:2em;
}
.image3{
	margin-left:2em;
}
.image4{
	margin-left:2em;
}
}
@media screen and (max-width: 1380px) {
.feature{
	display: inline-block;
	padding: 0 2em;
}

.Red-Bubble{
	margin-left: 3em;
	vertical-align: middle;
}
}
@media screen and (max-width: 1180px) {
.feature{
	display: inline-block;
	padding: 0 2em;
	margin-left: 17em;
}

.Red-Bubble{
	margin-left: 1em;
	vertical-align: middle;
}
}
@media screen and (max-width: 980px) {
.nav{
	margin-top: 14em;
}
.hero{
	margin-top: -14em;
}
.button-feature{
	visibility: hidden;
}
.button-mobile{
	visibility: hidden;
}
.Red-Bubble{
	visibility: hidden;
}
.Red-Bubble2{
	visibility: visible;
	margin-left: 1em;
	vertical-align: middle;
	margin-top: -48em;
}
.image1{
	padding: 0 2em;
}
.image2{
	padding: 0 2em;
}
.feature{
	display: inline-block;
	padding: 0 2em;
	margin-left: 10em;
}
}

@media screen and (max-width: 920px) {
.hero{
	height: 120vh; 
}

.Red-Bubble{
	visibility: hidden;
}
.Red-Bubble2{
	visibility: visible;
	margin-left: 1em;
	vertical-align: middle;
	margin-top: -48em;
}
.image1{
	padding: 0 0.5em;
}
.image2{
	padding: 0 0.5em;
	}
}
@media screen and (max-width: 890px) {
.image2{
	visibility: hidden;
}
.feature{
	margin-left: 2em;
}
	}