@import url('http://fonts.googleapis.com/css?family=Raleway');
* { margin: 0; padding: 0; border: 0; }
h1 {
	font-family: 'Raleway';
	font-size: 3em;
	margin: 5px;
}
h2{
	font-family: 'Raleway';
	font-size: 2em;
	margin: 5px;
}
h3{
	font-family: 'Raleway';
	margin: 5px;	
	}
p {
	font-family: 'Raleway';
	font-size: 1.6em;
	margin: 5px;	
}
a {
	font-family: 'Raleway';
	text-decoration: none;
	margin: 5px;	
}
ul{
	list-style: none;
}

.hero{
	background:url("https://free4kwallpapers.com/wallpaper/science/low-poly-ice/0RGX/2880/1800/download") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 50vh;
}
.wrapper{
	float: right;
	color: #01263B;
		line-height: 3.5em;
	text-align: center;
	padding: 4em;
	height: 37.7vh;
}
.text{
	z-index: 1000;
	opacity: 1;
}
.text-center{
	text-align: center;
	margin-top: 2em;
	clear: both;
}
.LinkedSites{
	height: 50vh;
	clear: both;
}
.LinkedSites h2{
	padding: 2em 0;
}
.image1{
	max-height: 8em;
	display: inline-block;
	padding: 0 1em;
}
.image1:hover{
	opacity: 0.55;
}
.image2{
	max-height: 15em;
	display: inline-block;
	padding: 0 1em;
}
.image2:hover{
	opacity: 0.55;
}
.image3{
	max-height: 15em;
	display: inline-block;
	padding: 0 1em;
}
.image3:hover{
	opacity: 0.55;
}
.image4{
	max-height: 15em;
	display: inline-block;
	padding: 0 1em;
}
.image4:hover{
	opacity: 0.55;
}
.image5{
	max-height: 15em;
	display: inline-block;
	padding: 0 1em;
}
.image5:hover{
	opacity: 0.55;
}
.contact{
	margin-top: 8em;
	max-height: 40vh;
	overflow: hidden;
	vertical-align: middle;
	transform: translateY(-60%);
	clear: both;
}
.contact-text-center{
	text-align: center;
}

.grid {
	position: relative;
	margin: 0 auto 2em auto;
	padding: 1em 0 2em;
	max-width: 1250px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 390px;
	max-width: 390px;
	max-height: 460px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer; 
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */

.grid figure h2{
	margin: 0 40px;
}
}

figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley h2{
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}

figure.effect-marley h2 {
	top: 30px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after{
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
}

@media screen and (max-width: 1890px) {
.wrapper{
	height: 36.8vh;
}
.image5{
	visibility: hidden;
}
}
@media screen and (max-width: 1680px) {
.wrapper{
	height: 36.8vh;
}
.image5{
	visibility: hidden;
}
}

@media screen and (max-width: 1580px) {
.contact{
	max-height: 50vh;
	margin-top: 4em;
}
.image1{
	padding: 0 3em;
}
.image2{
	padding: 0 3em;
}
.image3{
	padding: 0 3em;
}
.image4{
	visibility: hidden;
}
}
@media screen and (max-width: 1480px) {
.contact{
	max-height: 50vh;
}
}
@media screen and (max-width: 1380px) {
.image1{
	padding: 0 6em;
}
.image2{
	padding: 0 6em;
	}
.image3{
	visibility: hidden;
}
}
@media screen and (max-width: 1180px) {
.image1{
	padding: 0 3em;
}
.image2{
	padding: 0 3em;
	}
}
@media screen and (max-width: 980px) {
.nav{
	margin-top: 14em;
}
.hero{
	margin-top: -14em;
}
.image1{
	padding: 0 2em;
}
.image2{
	padding: 0 2em;
	}
}

@media screen and (max-width: 920px) {

.image1{
	padding: 0 0.5em;
}
.image2{
	padding: 0 0.5em;
	}
}
@media screen and (max-width: 790px) {
.image2{
	visibility: hidden;

}
	}