* { margin: 0; padding: 0; border: 0; }

h1 {
	font-family: 'Hind Siliguri', sans-serif;
	letter-spacing: 4px;
	font-size: 1.8em;
	margin: 5px;
	font-weight: lighter;
	text-transform: uppercase;
}
h2{
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1em;
	letter-spacing: 2px;
	margin: 5px;
	font-weight: lighter;
	color: #9C9EA0;
	margin-bottom: 1em;
}
h3{
	font-family: 'Hind Siliguri', sans-serif;
	margin: 5px;
	font-weight: lighter;	
	}
p {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.6em;
	margin: 5px;
	font-weight: lighter;	
}
a {
	font-family: 'Hind Siliguri', sans-serif;
	text-decoration: none;
	margin: 5px;	
	font-weight: lighter;
}
ul{
	list-style: none;
	font-weight: lighter;
}
.line img{
	width: 8em;
	opacity: 0.4;
	padding: 2em 0;
}
.hero{
	background:url("https://free4kwallpapers.com/wallpaper/science/low-poly-ice/0RGX/2880/1800/download") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 70vh;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.wrapper{
	float: right;
	line-height: 4.8em;
	color: #01263B;
	text-align: center;
	padding: 4em;
	height: 37.7vh;	
}
.site-branding {
	width: 20%;
    background-color: #1d1d1d;
	color: white;
    background-size: auto auto;
    display: inline-block;
    margin-left: 45em;
    margin-top: 13em;
    padding: 1.7em;
    box-shadow: 6px;
    }
.text{
	z-index: 1000;
	vertical-align: middle;
	text-align: center;
	color: white;
	padding: 1em;
	
}
.text-center{
	text-align: center;
	margin-top: 2em;
	clear: both;
}
#M{
	color: white;
	font-weight: bold;
}
#S{
	color: white;
}
.contact{
	clear: both;
	position: relative;
	font-size: 0.8em;
	padding: 1em;
	background-color: #1d1d1d;
	color: white;
	height: 220px;
	margin-top: 3em;
}

.items{
	margin-left: 54em;
}
.image1 img{
	width: 60px;
	height: auto;
}
.image1{
	display: inline-block;
	padding: 0 2em;
	margin-left: -4em;
}

.image1:hover{
	opacity: 0.55;
}
.image2 img{
	width: 60px;
	height: auto;
}
.image2{
	display: inline-block;
	padding: 0 2em;
}
.image2:hover{
	opacity: 0.55;
}
.image3 img{
	width: 60px;
	height: auto;
}
.image3{
	display: inline-block;
	padding: 0 2em;
}
.image3:hover{
	opacity: 0.55;
}
.image4 img{
	width: 60px;
	height: auto;
}
.image4{
	display: inline-block;
	padding: 0 2em;
}
.image4:hover{
	opacity: 0.55;
}
.image5 img{
	width: 60px;
	height: auto;
}
.image5{
	display: inline-block;
	padding: 0 2em;
}
.image5:hover{
	opacity: 0.55;
}

.grid {
	position: relative;
	margin: 0 auto 6em auto;
	padding: 1em 0 2em;
	max-width: 1250px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 390px;
	max-width: 390px;
	max-height: 460px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer; 
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */

.grid figure h2{
	margin: 0 40px;
}
}

figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley h2{
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}

figure.effect-marley h2 {
	top: 30px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after{
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
}


@media screen and (max-width: 1580px) {
.contact{
	margin-top: 4em;
}
.image1{
	padding: 0 3em;
}
.image2{
	padding: 0 3em;
}
.image3{
	padding: 0 3em;
}
.image4{
	padding: 0 3em;
}
}

@media screen and (max-width: 980px) {
.nav{
	margin-top: 14em;
}
.hero{
	margin-top: -14em;
}
