@import url('http://fonts.googleapis.com/css?family=Raleway');

h1 {
	font-family: 'Raleway';
	font-size: 3em;
}
h2{
	font-family: 'Raleway';
	font-size: 2em;
}
h3{
	font-family: 'Raleway';
	}
p {
	font-family: 'Raleway';
	font-size: 1.6em;
}
a {
	font-family: 'Raleway';
	text-decoration: none;
}
ul{
	list-style: none;
}

.hero{
	background:url("https://free4kwallpapers.com/wallpaper/science/low-poly-ice/0RGX/2880/1800/download") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 50vh;
}
.wrapper{
	float: right;
	color: #01263B;
	text-align: center;
	padding: 4em;
	height: 37.7vh;
}
.text{
	z-index: 1000;
	opacity: 1;
}
.text-center{
	text-align: center;
	margin: 1em 0;
	clear: both;
}

.button{
	display: inline-block;
	color: #0F497B;
	height: 20px;
	padding: 18px 60px;
	border: 2px solid #0F497B;
	text-transform: uppercase;
	border-radius: 60px;
	clear: both;
}	
.button:hover{
	background-color: #0F497B;
	color: white;
}
.white{
	color: white;
	border-color: white;
}
.white:hover{
	background-color: white;
	color: #0F497B;
}
.text-center{
	text-align: center;
	margin-bottom: 2em;
}
.background-white{
	background-color: white;
}
.section{
	padding: 80px 20px;
}
.features{
	margin-top: -4em;
}
.description{
	margin-bottom: 50px;
}
.feature img{
	max-width: 15em;
	display: inline;
	margin-left: 7em;
}
.feature h1{
	display: block;
	text-align: center;

}
.feature p{
	max-width: 15em;
	text-align: center;
	margin-left: 2em;
}
.feature{
	display: inline-block;
	padding: 0 5em;
}
.button-feature{
	display: inline-block;
	color: #0F497B;
	height: 20px;
	padding: 18px 60px;
	border: 2px solid #0F497B;
	text-transform: uppercase;
	border-radius: 60px;
	clear: both;
	margin-left: 50em;
}	
.button-feature:hover{
	background-color: #0F497B;
	color: white;
}
.button-mobile{
	display: inline-block;
	color: #0F497B;
	height: 20px;
	padding: 18px 60px;
	border: 2px solid #0F497B;
	text-transform: uppercase;
	border-radius: 60px;
	clear: both;
	margin-left: 50em;
	margin-top: 2em;
	visibility: hidden;
}	
.button-mobile:hover{
	background-color: #0F497B;
	color: white;
}
.artwork{
	background:url("https://free4kwallpapers.com/wallpaper/science/low-poly-ice/0RGX/2880/1800/download") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 80vh;
}
.artwork-text{
	text-align: center;
	color: #01263B;
	margin-top: -1em;
}
.Red-Bubble{
	margin-left: 25em;
	vertical-align: middle;
}
.Red-Bubble2{
	visibility: hidden;
}
.LinkedSites{
	height: 48vh;
	margin-top: -3em;
	margin-bottom: 1em;
}
.items{
	margin-top: 2em;
	padding-top: -2em;
}
.image1{
	max-height: 15em;
	display: inline-block;
	padding: 0 1em;
}
.image1:hover{
	opacity: 0.55;
}
.image2{
	max-height: 15em;
	display: inline-block;
	padding: 0 1em;
}
.image2:hover{
	opacity: 0.55;
}
.image3{
	max-height: 15em;
	display: inline-block;
	padding: 0 1em;
}
.image3:hover{
	opacity: 0.55;
}
.image4{
	max-height: 15em;
	display: inline-block;
	padding: 0 1em;
}
.image4:hover{
	opacity: 0.55;
}
.image5{
	max-height: 15em;
	display: inline-block;
	padding: 0 1em;
}
.image5:hover{
	opacity: 0.55;
}
.contact{
	max-height: 15vh;
	overflow: hidden;
	vertical-align: middle;
	transform: translateY(-60%);
}

@media screen and (max-width: 1890px) {
.image5{
	visibility: hidden;
}
}
@media screen and (max-width: 1680px) {
.feature{
	display: inline-block;
	padding: 0 2em;
}
.button-feature{
	margin-left: 41em;
}
.Red-Bubble{
	margin-left: 20em;
	vertical-align: middle;
}
.image5{
	visibility: hidden;
}

}

@media screen and (max-width: 1580px) {
.hero{
	height: 60vh;
	}
.feature{
	display: inline-block;
	padding: 0 1em;
}
.button-feature{
		margin-left: 38em;
}
.Red-Bubble{
	margin-left: 10em;
	vertical-align: middle;
}
.contact{
	max-height: 20vh;
	margin-top: 4em;
}
.image1{
	padding: 0 3em;
	margin-left: 5em;
}
.image2{
	padding: 0 3em;
}
.image3{
	padding: 0 3em;
}
.image4{
	visibility: hidden;
}

}
@media screen and (max-width: 1480px) {
.feature{
	display: inline-block;
	padding: 0 5em;
}
.image3{
	visibility: hidden;
}
.button {
	visibility: hidden;
}
.button-mobile{
	margin-left: 40em;
	margin-top: -15em;
	height: 80px;
	padding-top: 80px;
	padding-right: 60px;
	padding-left: 60px;
	visibility: visible;
}	
.button-mobile:hover{
	background-color: #0F497B;
	color: white;
}
.button-feature{
	margin-left: 41em;
	margin-top: -34em;
	height: 80px;
	padding-top: 80px;
	padding-right: 60px;
	padding-left: 60px;
}
.image1{
	margin-right:2em;
}
.image2{
	margin-left:2em;
	}

}
@media screen and (max-width: 1380px) {
.feature{
	display: inline-block;
	padding: 0 2em;
}

.Red-Bubble{
	margin-left: 3em;
	vertical-align: middle;
}
.image1{
	margin-right:2em;
}
.image2{
	margin-left:2em;
	}
}

}
@media screen and (max-width: 1180px) {
.feature{
	display: inline-block;
	padding: 0 2em;
	margin-left: 17em;
}

.Red-Bubble{
	margin-left: 1em;
	vertical-align: middle;
}
.image1{
	padding: 0 3em;
}
.image2{
	padding: 0 3em;
	}
}
@media screen and (max-width: 980px) {
.nav{
	margin-top: 14em;
}
.hero{
	margin-top: -14em;
}
.button-feature{
	visibility: hidden;
}
.button-mobile{
	visibility: hidden;
}
.Red-Bubble{
	visibility: hidden;
}
.Red-Bubble2{
	visibility: visible;
	margin-left: 1em;
	vertical-align: middle;
	margin-top: -48em;
}
.image1{
	padding: 0 2em;
}
.image2{
	padding: 0 2em;
}
.feature{
	display: inline-block;
	padding: 0 2em;
	margin-left: 10em;
}
}

@media screen and (max-width: 920px) {
.hero{
	height: 120vh; 
}

.Red-Bubble{
	visibility: hidden;
}
.Red-Bubble2{
	visibility: visible;
	margin-left: 1em;
	vertical-align: middle;
	margin-top: -48em;
}
.image1{
	padding: 0 0.5em;
}
.image2{
	padding: 0 0.5em;
	}
}
@media screen and (max-width: 890px) {
.image2{
	visibility: hidden;
}
.feature{
	margin-left: 2em;
}
	}