@import url('http://fonts.googleapis.com/css?family=Khula');
* { margin: 0; padding: 0; border: 0; }

h1 {
	font-family: 'Khula';
	font-size: 3em;
	margin: 5px;
	font-weight: lighter;
}
h2{
	font-family: 'Khula';
	font-size: 2em;
	margin: 5px;
	font-weight: lighter;
}
h3{
	font-family: 'Khula';
	margin: 5px;
	font-weight: lighter;	
	}
p {
	font-family: 'Khula';
	font-size: 1.6em;
	margin: 5px;
	font-weight: lighter;	
}
a {
	font-family: 'Khula';
	text-decoration: none;
	margin: 5px;	
	font-weight: lighter;
}
ul{
	list-style: none;
	font-weight: lighter;
}

.hero{
	background:url("https://free4kwallpapers.com/wallpaper/science/low-poly-ice/0RGX/2880/1800/download") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 65vh;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.wrapper{
	float: right;
	line-height: 3.5em;
	color: #01263B;
	text-align: center;
	padding: 4em;
	height: 37.7vh;	
}
.site-branding {
	width: 30%;
    background-color: #383738;
	color: white;
    background-size: auto auto;
    display: inline-block;
    margin-left: 40em;
    margin-top: 10em;
    padding: 1.7em;
    box-shadow: 6px;
    }
.text{
	z-index: 1000;
	vertical-align: middle;
	text-align: center;
	color: white;
}
.text-center{
	text-align: center;
	margin: 1em 0;
	clear: both;
}

.button{
	display: inline-block;
	color: #0F497B;
	height: 20px;
	padding: 18px 60px;
	border: 2px solid #0F497B;
	text-transform: uppercase;
	border-radius: 60px;
	clear: both;
	text-align: center;
	line-height: 2em;
}	
.button:hover{
	background-color: #0F497B;
	color: white;
}
.white{
	color: white;
	border-color: white;
}
.white:hover{
	background-color: white;
	color: #0F497B;
}
.text-center{
	text-align: center;
	margin-bottom: 2em;
}
.background-white{
	background-color: white;
}
.section{
	padding: 80px 20px;
}
.description1{
	margin-bottom: 50px;
}
.description{
	margin-bottom: 50px;
	margin-top: -2em;
}
.feature img{
	max-width: 15em;
	display: inline;
	margin-left: 7em;
}
.feature h2{
	display: block;
	text-align: center;
	font-weight: bold;
}
.feature p{
	max-width: 15em;
	text-align: center;
	margin-left: 2em;
}
.feature{
	display: inline-block;
	padding: 0 5em;
}
.button-feature{
	display: inline-block;
	color: #0F497B;
	height: 20px;
	padding: 18px 60px;
	border: 2px solid #0F497B;
	text-transform: uppercase;
	border-radius: 60px;
	clear: both;
	margin-left: 50em;
	margin-top: 2em;
}	
.button-feature:hover{
	background-color: #0F497B;
	color: white;
}
.button-mobile{
	display: inline-block;
	color: #0F497B;
	height: 20px;
	padding: 18px 60px;
	border: 2px solid #0F497B;
	text-transform: uppercase;
	border-radius: 60px;
	clear: both;
	margin-left: 50em;
	margin-top: 2em;
	visibility: hidden;
}	
.button-mobile:hover{
	background-color: #0F497B;
	color: white;
}
.artwork{
	background-color: #383738;
	height: 75vh;
}
.artwork-text{
	text-align: center;
	color: white;
}
.Red-Bubble{
	margin-left: 27em;
	vertical-align: middle;
}
.Red-Bubble2{
	visibility: hidden;
}
.Red-Bubble3{
	visibility: hidden;
}
.Red-Bubble4{
	visibility: hidden;
}

.Lorem2{
	background:url("https://free4kwallpapers.com/wallpaper/science/low-poly-ice/0RGX/2880/1800/download") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}
.contact{
	position: relative;
	font-size: 0.8em;
	padding: 3em;
	background-color: #383738;
	color: white;
}

.items{
	margin-top: -1em;
	margin-left: 36em;
}
.image1 img{
	width: 60px;
	height: auto;
}
.image1{
	display: inline-block;
	padding: 0 2em;
}

.image1:hover{
	opacity: 0.55;
}
.image2 img{
	width: 60px;
	height: auto;
}
.image2{
	display: inline-block;
	padding: 0 2em;
}
.image2:hover{
	opacity: 0.55;
}
.image3 img{
	width: 60px;
	height: auto;
}
.image3{
	display: inline-block;
	padding: 0 2em;
}
.image3:hover{
	opacity: 0.55;
}
.image4 img{
	width: 60px;
	height: auto;
}
.image4{
	display: inline-block;
	padding: 0 2em;
}
.image4:hover{
	opacity: 0.55;
}
.image5 img{
	width: 60px;
	height: auto;
}
.image5{
	display: inline-block;
	padding: 0 2em;
}
.image5:hover{
	opacity: 0.55;
}

@media screen and (max-width: 1680px) {
.feature{
	display: inline-block;
	padding: 0 2em;
}
.button-feature{
	margin-left: 41em;
}
.Red-Bubble{
	margin-left: 20em;
	vertical-align: middle;
}
.image1{
	margin-left: -8em;
}
}

@media screen and (max-width: 1580px) {
.hero{
	height: 60vh;
	}
.feature{
	display: inline-block;
	padding: 0 1em;
}
.button-feature{
		margin-left: 38em;
}
.Red-Bubble{
	margin-left: 10em;
	vertical-align: middle;
}
.image1{
	padding: 0 3em;
	margin-left: -18em;
}
.image2{
	padding: 0 2em;
}
.image3{
	padding: 0 2em;
}
.image4{
	padding: 0 2em;
}
.image5{
	padding: 0 2em;

}
}
@media screen and (max-width: 1480px) {
.feature{
	display: inline-block;
	padding: 0 5em;
}

.button {
	visibility: hidden;
}
.button-mobile{
	margin-left: 40em;
	margin-top: -15em;
	height: 60px;
	padding-top: 60px;
	padding-right: 60px;
	padding-left: 30px;
	visibility: visible;
}	
.button-mobile:hover{
	background-color: #0F497B;
	color: white;
}
.button-feature{
	margin-left: 41em;
	margin-top: -26em;
	height: 60px;
	padding-top: 60px;
	padding-right: 60px;
	padding-left: 30px;
}
.image1{
margin-left: -30em;
}
}
@media screen and (max-width: 1380px) {
		.nav{
		width: 8em;
	}
.feature{
	display: inline-block;
	padding: 0 2em;
}
.image1{
	margin-left: -24em;
}
.Red-Bubble{
	margin-left: 3em;
	vertical-align: middle;
}
}
@media screen and (max-width: 1180px) {
	.nav{
		width: 8em;
	}
.feature{
	display: inline-block;
	padding: 0 2em;
	margin-left: 17em;
}
.image1{
	padding:  0 -1em;
	margin-left: -30em;
	margin-right: -1em;
}
.image2{
	padding: 0 -1em;
	margin-right: -1em;
}
.image3{
	padding: 0 -1em;
	margin-right: -1em;
}
.image4{
	padding: 0 -1em;
	margin-right: -1em;
}
.image5{
	padding: 0 -1em;
	margin-right: -1em;
}
.Red-Bubble{
	margin-left: 1em;
	vertical-align: middle;
}
.button-feature{
	visibility: hidden;
}
.button-mobile{
	visibility: hidden;
}
}
@media screen and (max-width: 980px) {


.artwork{
	height: 85vh; 
}
.Red-Bubble{
	visibility: hidden;
}
.Red-Bubble2{
	visibility: visible;
	margin-left: 1em;
	vertical-align: middle;
	margin-top: -48em;
}
.image1{
	padding: 0 -2em;
	margin-left: -32em;
	margin-right: -1em;
}
.image2{
	padding: 0 -2em;
	margin-right: -1em;
}
.image3{
	padding: 0 -2em;
	margin-right: -1em;
}
.image4{
	padding: 0 -2em;
	margin-right: -1em;
}
.image5{
	padding: 0 -2em;
	margin-right: -1em;

}
.feature{
	display: inline-block;
	padding: 0 2em;
	margin-left: 10em;
}
}

@media screen and (max-width: 920px) {

.hero{
	height: 65vh; 
}

.Red-Bubble{
	visibility: hidden;
}
.Red-Bubble2{
	visibility: visible;
	margin-left: 1em;
	vertical-align: middle;
	margin-top: -48em;
}
.image1{
	padding: 0 -2em;
	margin-left: -32em;
	margin-right: -1.5em;
}
.image2{
	padding: 0 -2em;
	margin-right: -1.5em;
}
.image3{
	padding: 0 -2em;
	margin-right: -1.5em;
}
.image4{
	padding: 0 -2em;
	margin-right: -1.5em;
}
.image5{
	padding: 0 -2em;
	margin-right: -1.5em;
}
}
@media screen and (max-width: 890px) {

.feature{
	margin-left: 2em;
}
.image1{
	margin-left: -32em;
}
}
@media screen and (max-width: 790px) {
	.Red-Bubble2{
		margin-left: -1em;
	}
.image1{
	margin-left: -37em;
}
}	
@media screen and (max-width: 620px){
.hero{
	height: 60vh;
}
 h1{
	font-size: 2.5em;
}
 h2{
	font-size: 1.5em;
}
h3{
	margin: 5px;	
	font-size: 1.4em;
}
 p{
	font-size: 1.3em;
}
.artwork{
	height: 75vh; 
}
.Red-Bubble2{
	visibility: hidden;
}
.Red-Bubble3{
	visibility: visible;
	margin-left: auto;
	vertical-align: middle;
	margin-top: -46em;
}
}
@media screen and (max-width: 520px){
.feature{
	margin-left: 1em;
}
.feature img{
	margin-left: 0;
}
 h1{
	font-size: 2.2em;
}
 h2{
	font-size: 1.3em;
}
h3{
	font-size: 1.2em;
}
 p{
	font-size: 1.1em;
}
}
@media screen and (max-width: 460px){
	.hero{
		height: 75vh;
	}
	.Red-Bubble3{
		visibility: hidden;
	}
	.Red-Bubble4{
		visibility: visible;
		margin-left: auto;
		vertical-align: middle;
		margin-top: -30em;
	}
}
@media screen and (max-width: 380px){
	.hero{
		height: 85vh;
	}
}