@import url('http://fonts.googleapis.com/css?family=Raleway');
.nav{
	background-color:white; 
	text-align: center;
	position: fixed;
	width: fill;
	float: right;
	z-index: 1000;
	margin-left: -2em;
}
span{
	color: #0F497B;
	font-weight: bold;
}
 li {
	display: inline-block;
	margin:0 2em;
	font-family: 'Raleway';
	font-size: 1em;
	list-style-type: none;

}
li a {
	color: black;
	text-decoration: none;

}
li a:hover{
	color: #0F497B;
	font-weight: bold;

}