.nav{
	background-color: #1d1d1d;
	color: white;
	text-align: left;
	width: 100%;
	float: right;
	z-index: 1000;
	height: 4em;
	margin-bottom: 2em;
}
.item img{
	max-width: 2em;
}
span{
	color: white;
	opacity: 1;
}
 li {
	display: inline-block;
	font-family: 'Hind Siliguri', sans-serif;
	list-style-type: none;
	font-weight: lighter;
	font-size: 0.9em;
	letter-spacing: 1px;
	padding: 1.25em 1.7em;
	text-transform: uppercase;
}
li a {
	color: white;
	opacity: 0.8;
	text-decoration: none;

}
li a:hover{
	color: white;
	opacity: 1;
}
